<div class="row p-0 stats">
    <div class="stats-section d-flex flex-row flex-wrap justify-content-between">
        <div class="stats-block d-flex flex-row align-items-center justify-content-around icolor">
            
            <div class="stats-name">
                {{ 'Inbox' | translate }}
            </div>
            <div class="stats-count">
                1560
            </div>
            <svg class="icon"><use xlink:href="#dots"/></svg>
            <!-- <div class="stats-per">
                25% <svg class="icon"><use xlink:href="#uparrow"/></svg>
            </div> -->
        </div>

        <div class="stats-block d-flex flex-row align-items-center justify-content-around ocolor">
            
            <div class="stats-name">
                {{ 'Application Updates' | translate }} 
            </div>
            <div class="stats-count">
                1020
            </div>
            <svg class="icon"><use xlink:href="#dots"/></svg>
            <!-- <div class="stats-per">
                25% <svg class="icon"><use xlink:href="#downarrow"/></svg>
            </div> -->
        </div>

        <div class="stats-block d-flex flex-row align-items-center justify-content-around tcolor">
            <div class="stats-name">
                {{ 'Notices' | translate }} 
            </div>
            <div class="stats-count">
                2420  
            </div>
            <svg class="icon"><use xlink:href="#dots"/></svg>
            <!-- <div class="stats-per">
                20% <svg class="icon"><use xlink:href="#downarrow"/></svg>
            </div> -->
        </div>

    

    </div>
</div>



