<section class="login-page">

    <div class="container-fluid login-section">

        <div class="row d-flex">
            <div class="col-lg-7 p-0">
                <div class="about-app d-flex flex-column justify-content-center align-items-center text-center">
             
                        <div class="col-lg-2">
                            <img src="assets/img/SudaneseMinistryAgricultureForestry.png" class="img-fluid">
                        </div>
               
                        <div class="col-lg-9 col-8">
                            <h1>What is Lorem Ipsum?</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <!-- <img src="../../../assets/img/dm.png" class="img-fluid w-50"> -->
                        </div>

                        <div class="col-lg-5 d-none d-sm-block">
                            <ngb-carousel>
                                <ng-template ngbSlide *ngFor="let image of images">
                                  <img [src]="image" alt="Carousel Image" class="img-fluid">
                                </ng-template>
                              </ngb-carousel>
                            
                            <!-- <img src="assets/img/dm.png" class="img-fluid"> -->
                        </div>
                </div>
            </div>
            <div class="col-lg-5 p-0">
                <div class="login-form d-flex flex-column justify-content-center align-items-center">
                    <div class="col-lg-7 col-9">
                        <h1 class="loginform-h1">Hello Again</h1>
                        <p class="loginform-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                    <form class="w-100 col-9">
                        <div class="form-floating mb-3">
                            <span class="svg-div"><svg class="icon"><use xlink:href="#email"/></svg></span>
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" class="float-text">User Name</label>
                        </div>
                        <div class="form-floating">
                            <span class="svg-div"><svg class="icon"><use xlink:href="#lock"/></svg></span>
                            <input type="password" autocomplete="off" class="form-control" appPasswordMask id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword" class="float-text" >Password</label>
                        </div>

                        <a (click)="navigateToHome()" type="buttom" class="btn btn-submit w-100 mt-3">Login</a>
                        
                        <small class="text-danger mt-2 text-center">Click Login Button For Homepage</small>

                        <!-- <button type="submit" class="btn btn-submit w-100 mt-3" routerLink="/admin/home">Login</button> -->
                    </form>
                   </div>
                </div>
            </div>
        </div>
        


    </div>

</section>