<section class="ejob-section" >
	<ng-scrollbar class="w-100 h-100">

					<form class="row g-3 datasearch justify-content-center" [formGroup]="form" (ngSubmit)="onSubmit()">

						<div class="col-md-3">
              <label class="mb-1">{{ 'Group Name' | translate }}</label>
              <input
              type="text"
              formControlName="groupName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['groupName'].errors }"
              />
              <div *ngIf="submitted && f['groupName'].errors" class="invalid-feedback">
              <div *ngIf="f['groupName'].errors['required']">
                {{ 'Org Type Name is required' | translate }}
              </div>
              </div>
            </div>

						<div class="col-md-3">
              <label class="mb-1">{{ 'Top Org' | translate }}</label>
              <select class="form-select" formControlName="topOrg">
								<option value="">Choose Your Option</option>
								<option value="">Select One</option>
								<option value="">Select Two</option>
								<option value="">Select Three</option>
							</select>
              <div *ngIf="submitted && f['topOrg'].errors" class="invalid-feedback">
              <div *ngIf="f['topOrg'].errors['required']">
                {{ 'Org Type Name is required' | translate }}
              </div>
              </div>
            </div>

						<div class="col-md-3">
              <label class="mb-1">{{ 'Org Unit' | translate }}</label>
              <select class="form-select" formControlName="orgUnit">
								<option value="">Choose Your Option</option>
								<option value="">Select One</option>
								<option value="">Select Two</option>
								<option value="">Select Three</option>
							</select>
              <div *ngIf="submitted && f['orgUnit'].errors" class="invalid-feedback">
              <div *ngIf="f['orgUnit'].errors['required']">
                {{ 'Org Type Name is required' | translate }}
              </div>
              </div>
            </div>

						<div class="col-md-3">
								<label class="mb-1" for="multiSelect">Multi Select</label>
							<ng-select [multiple]="true" [(ngModel)]="multiSelect" formControlName="multiSelect"  placeholder="Multi Select" 
							clearAllText="Clear" [ngClass]="{ 'is-invalid': submitted && f['multi'].errors }">
								<ng-option *ngFor="let multi of multi" [value]="multi.id">{{
									multi.name
								}}</ng-option>
							</ng-select>
							<div *ngIf="submitted && f['multi'].errors" class="invalid-feedback">
								<div *ngIf="f['multi'].errors['required']">
									Single select is required
								</div>
								</div>
						</div>

						<div class="row btn-row justify-content-center">
							<div class="d-flex justify-content-center">
								<button type="submit" class="btn-submit mx-2">{{ 'Submit' | translate }}</button>
								<button type="button" class="btn-danger mx-2" (click)="onReset()">{{ 'Reset' | translate }}</button>
							</div>
						</div>  
					</form>

			<hr class="gradient-line">

    <div class="row m-0 p-0 data">
      <div class="table-result p-0 ">
          <ngx-table [configuration]="configuration" [data]="data" [columns]="columns" [dir]="directionService.isRtl ? 'rtl' : 'ltr'"> 
              <ng-template let-row let-index="index">
                <td>
                  <span class="">{{ row.orgTypeId }}</span>
                </td>
                <td>
                  <div class="">{{ row.orgTypeName }}</div>
                </td>
                <td>
                  <div class="">{{ row.orgTypeNameAr }}</div>
                </td>
                <td>
                  <div  *ngIf="row.topLevel=== 1" class="">Yes</div>
                  <div  *ngIf="row.topLevel === 0" class="">No</div>
                </td>
                <td>
                  <div  *ngIf="row.status === 1" class="">Active</div>
                  <div  *ngIf="row.status === 0" class="">In Active</div>
                </td>
                <td>
                  <div class="">{{ row.addedByUserName }}</div>
                </td>
                <td>
                  <div class="">{{ row.addedOn }}</div>
                </td>
             
              </ng-template>
            </ngx-table>
      </div>
    </div>

	</ng-scrollbar>
</section>
