<section class="scan-doc h-100" >

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs d-flex justify-content-start ">
    <li [ngbNavItem]="2">
      <button ngbNavLink class="btn btn-tab d-flex align-items-center">
        <svg class="icon"><use xlink:href="#eScan"></use> </svg> <span class="link-title mx-2">{{ 'Scan' | translate }}</span>
      </button>

      <ng-template ngbNavContent>
          <div class="tab-cnt" >
            <ng-scrollbar class="w-100 h-100">

              <div class="row doc-scantab">
                  <div class="col-9">

                    <ul class="d-flex align-items-center">
                        <li placement="bottom" ngbTooltip="Remove Current Page"> <svg class="icon"><use xlink:href="#removedoc"></use> </svg> </li>
                        <li class="vr m-0"></li>
                        <li placement="bottom" ngbTooltip="Remove All Pages"> <svg class="icon"><use xlink:href="#removedoc"></use> </svg> </li>
                        <li class="vr m-0"></li>
                        <li class="page-count"> <span class="current-doc doc-no">1</span> / <span class="all-doc doc-no">2</span></li>
                        <li class="vr m-0"></li>
                        <li class="page-zoom">
                          <span><svg class="stroke"><use xlink:href="#minus"></use></svg></span>
                          <span class="zoom-percentage"> 33.3%</span>  
                          <span><svg class="stroke"><use xlink:href="#pluse"></use></svg></span>
                        </li>
                        <li class="vr m-0"></li>
                        <li (click)="showEditor()" placement="bottom" ngbTooltip="Image Edit" > <svg class="icon" ><use xlink:href="#imageEdit"></use> </svg> </li>
                        <li class="vr m-0"></li>
                    </ul> 
                    
                    <div id={{containerId}} class="mt-2"></div>


                  </div>
                  
                  <div class="col-3 border docsave-section p-0">
                     
                    <h1 class="docsave-title">Custom Scan</h1>

                    <!-- <div class="input-group-prepend" style="display: flex;">
                      <label class="input-group-text" style="width: 32%;margin-right: 2%;">
                        <input type="checkbox" [(ngModel)]="scanOptions.IfShowUI" aria-label="Checkbox for ShowUI">&nbsp;&nbsp;Show
                        UI</label>
                      <label class="input-group-text" style="width: 32%;margin-right: 2%;">
                        <input type="checkbox" [(ngModel)]="scanOptions.IfFeederEnabled"
                          aria-label="Checkbox for ADF">&nbsp;&nbsp;AutoFeeder
                      </label>
                      <label class="input-group-text" style="width: 32%;">
                        <input type="checkbox" [(ngModel)]="scanOptions.IfDuplexEnabled"
                          aria-label="Checkbox for Duplex">&nbsp;&nbsp;Duplex
                      </label>
                    </div> -->

                    <form class="docsave-formsection mb-3">

                      <div class="row mb-2 ">
                        <div class="col-12">
                          <label for="scanner" class="col-form-label py-0">{{ 'Select Scanner' | translate }}</label>
                          <select id="scanner" class="form-select" aria-label="Default select example">
                            <option selected>Choose the Scanner</option>
                            <option value="1">Device 1</option>
                            <option value="2">Device 2</option>
                          </select>
                        </div>
                      </div>

                      <div class="row mt-1 mb-2 ">
                        <div class="col-5">
                          <div class="form-check py-1">
                            <input class="form-check-input" type="checkbox" value="" id="showScannerUI">
                            <label class="form-check-label" for="showScannerUI">
                              Show Scanner UI
                            </label>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-check py-1">
                            <input class="form-check-input" type="checkbox" value="" id="useAdf">
                            <label class="form-check-label" for="useAdf">
                              Use ADF
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-check py-1">
                            <input class="form-check-input" type="checkbox" value="" id="useAdf">
                            <label class="form-check-label" for="useAdf">
                              Auto Remove Blank Page
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-2 ">
                        <div class="col-12">
                            <fieldset class="border p-1">
                              <legend class="float-none w-auto px-2 py-0 col-form-label">{{ 'Pixel Type' | translate }} </legend>
                            <div class="form-check form-check-inline mx-3">
                              <input class="form-check-input" type="radio" name="pageSelect" id="b&w" value="b&w" >
                              <label class="form-check-label" for="b&w">{{ 'B&W' | translate }}</label>
                            </div>
                            <div class="form-check form-check-inline mx-3">
                              <input class="form-check-input" type="radio" name="pageSelect" id="gray" value="gray" >
                              <label class="form-check-label" for="gray">{{ 'Gray' | translate }}</label>
                            </div>
                            <div class="form-check form-check-inline mx-3">
                              <input class="form-check-input" type="radio" name="pageSelect" id="color" value="color" >
                              <label class="form-check-label" for="color">{{ 'Color' | translate }}</label>
                            </div>
                          </fieldset>
                        </div>
                      </div>

                      <div class="row mb-2 ">
                        <div class="col-12">
                          <label for="resolution" class="col-form-label py-0">{{ 'Resolution' | translate }}</label>
                          <select id="resolution" class="form-select" aria-label="Default select example">
                            <option selected>Select the resolution </option>
                            <option value="1">100</option>
                            <option value="2">150</option>
                            <option value="3">200</option>
                            <option value="4">300</option>
                          </select>
                        </div>
                      </div>

                      <!-- <div class="row mb-2 ">
                        <div class="col-12">
                          <label for="filename" class="col-form-label">{{ 'File Name' | translate }}</label>
                          <input type="text" id="filename" class="form-control">
                        </div>
                      </div>

                      <div class="row mb-2 ">
                        <div class="col-12">
                            <fieldset class="border p-2">
                              <legend class="float-none w-auto px-2 col-form-label">{{ 'Document Sub Route' | translate }} </legend>
                            <div class="form-check form-check-inline mx-3">
                              <input class="form-check-input" type="radio" name="pageSelect" id="currentPage" value="currentPage" >
                              <label class="form-check-label" for="currentPage">{{ 'Current Page' | translate }}</label>
                            </div>
                            <div class="form-check form-check-inline mx-3">
                              <input class="form-check-input" type="radio" name="pageSelect" id="allPages" value="allPages" >
                              <label class="form-check-label" for="allPages">{{ 'All Pages' | translate }}</label>
                            </div>
                          </fieldset>
                        </div>
                      </div>

                      <div class="row mb-2 ">
                        <div class="col-12">
                          <label for="cstinfo" class="col-form-label"> {{ 'Optional Custom Info' | translate }} </label>
                          <input type="text" id="cstinfo" class="form-control">
                        </div>
                      </div> -->

                      <div class="my-3 d-flex justify-content-between">

                        <button class="btn-update" (click)="acquireImage()">Scan</button>

                        <button class="btn-edit" (click)="acquireImage()">Import Local Images</button>

                      </div>

                      

                     <!-- <div class="row mt-3 align-items-center text-left">
                        <div class="">
                          <button type="button" class="btn btn-submit">Upload</button>
                        </div>
                      </div> -->

                    </form>

                    <!-- <h1 class="docsave-title">{{ 'Uploaded Files' | translate }}</h1>

                    <div class="recent-upload">
                      <div class="upload-filename">Upload 1</div>
                      <div class="upload-filename">Upload 2</div>
                      <div class="upload-filename">Upload 3</div>
                      <div class="upload-filename">Upload 4</div>
                      <div class="upload-filename">Upload 5</div>
                    </div> -->


                  </div>


            
              </div>
            </ng-scrollbar>
          </div>
      </ng-template>
    </li>
  
    <li [ngbNavItem]="1">
      <button ngbNavLink class="btn btn-tab d-flex align-items-center">
        <svg class="icon"><use xlink:href="#reports"></use> </svg> <span class="link-title mx-2">
          {{ 'Form Fields' | translate }}</span>
      </button>
  
      <ng-template ngbNavContent>
        <div class="tab-cnt ejob-section" >
          <ng-scrollbar class="w-100 h-100">      
            <div class="row">
              <div class="col-12 d-flex justify-content-center align-items-center ">               
                <form class="form-section col-7"  (ngSubmit)="onSubmit()">								
                  <div class="input-block mt-2 shadow-sm">
                  <div class="row mb-2 ">
                    <div class="col-12" [attr.disabled]="isFormDisabled">
                      <label for="" class="col-form-label" >{{ 'Document Type' | translate }} </label>
                        <select class="form-select" [(ngModel)]="scanningData.docType" name="docType" [attr.disabled]="isFormDisabled">
                          <option selected>Select The Type</option>
                          <option value="1">Letter</option>
                          <option value="2">Memo</option>
                          <option value="3">Email</option>
                        </select>
                    </div>
                  </div>
                  <div *ngIf="scanningData.docType == 1">
                    <div class="row mb-2 ">
                      <div class="col-12">
                        <label for="refno" class="col-form-label">{{ 'Ref Number' | translate }}</label>
                        <input type="text" id="refno" [(ngModel)]="scanningData.refNo" name="refNo" class="form-control" [attr.disabled]="isFormDisabled">
                      </div>
                    </div>
                    <div class="row mb-2 ">
                      <div class="col-6">
                        <fieldset class="border p-2">
                          <legend class="float-none w-auto px-2 col-form-label">{{ 'Document Route' | translate }}</legend>
                            <div class="form-check form-check-inline mx-3">
                              <input class="form-check-input" type="radio" name="docRoute" id="incoming" value="Incoming" [(ngModel)]="scanningData.docRoute">
                              <label class="form-check-label" for="incoming">{{ 'Incoming' | translate }}</label>
                            </div>
                            <div class="form-check form-check-inline mx-3">
                              <input class="form-check-input" type="radio" name="docRoute" id="outgoing" value="Outgoing" [(ngModel)]="scanningData.docRoute">
                              <label class="form-check-label" for="outgoing" >{{ 'Outgoing' | translate }}</label>
                            </div>
                        </fieldset>
                      </div>

                      <div class="col-6">
                        <fieldset class="border p-2">
                          <legend class="float-none w-auto px-2 col-form-label">{{ 'Document Sub Route' | translate }}</legend>
                        <div class="form-check form-check-inline mx-3">
                          <input class="form-check-input" type="radio" name="docSubRoute" id="internal" value="Internal" [(ngModel)]="scanningData.docSubRoute">
                          <label class="form-check-label" for="internal">{{ 'Internal' | translate }}</label>
                        </div>
                        <div class="form-check form-check-inline mx-3">
                          <input class="form-check-input" type="radio" name="docSubRoute" id="external" value="External" [(ngModel)]="scanningData.docSubRoute">
                          <label class="form-check-label" for="external">{{ 'External' | translate }}</label>
                        </div>
                      </fieldset>
                      </div>
                    </div>

                    <div class="row mb-2 foldersel" *ngIf="scanningData.docRoute === 'Incoming'">
                      <ng-template #content let-c="close" let-d="dismiss" >
                        <div class="modal-header justify-content-center">
                           <h4 class="modal-title" id="modal-basic-title">Select The Folder</h4>
                        </div>
                        <div class="modal-body">
                          <ul class="tree-container">
                            <li *ngFor="let node of nodes" class="tree-node">
                              <div (click)="toggleNode(node); selectNode(node)">
                                <span *ngIf="node.subfolders?.length">
                                  <i [ngClass]="node.expanded ? 'expanded' : 'collapsed'"></i>
                                </span>
                                <i-feather name="{{ node.icon }}" class="chevron-up"></i-feather> <span class="hover">{{ node.folderName }}</span>
                              </div>
                              <ul *ngIf="node.subfolders && node.expanded">
                                <ng-container *ngTemplateOutlet="treeTemplate; context: {$implicit: node.subfolders, parentNode: node}"></ng-container>
                              </ul>
                            </li>
                          </ul>
                          
                          <ng-template #treeTemplate let-nodes let-parentNode="parentNode">
                            <li *ngFor="let child of nodes" class="tree-node">
                              <div (click)="toggleNode(child); selectNode(child)">
                                <span class="hover" *ngIf="child.children?.length">
                                  <i [ngClass]="child.expanded ? 'expanded' : 'collapsed'"></i>
                                </span>
                                <i-feather name="{{ child.icon }}" class='chevron-up'></i-feather> <span class="hover">{{ child.folderName }}</span>
                              </div>
                              <ul *ngIf="child.children && child.expanded">
                                <ng-container *ngTemplateOutlet="treeTemplate; context: {$implicit: child.children, parentNode: child}"></ng-container>
                              </ul>
                            </li>
                          </ng-template>

                        </div>
                 
                      </ng-template>

                      <div class="col-6 select-folder " >
                        <label for="folder" class="col-form-label">{{ 'Folder' | translate }}</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" [formControl]="selectedFolder" placeholder="Select Folder" (blur)="saveNode()">
                          <span (click)="open(content)" class="input-group-text" id="folder"><svg class="icon"><use xlink:href="#folder"></use> </svg></span>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2 " *ngIf="scanningData.docSubRoute === 'Internal'">
                        <div class="col-6">
                          <label for="" class="col-form-label">{{ 'Top Org Unit' | translate }}</label>
                            <select id="orgUnitSelect" class="form-select" (ngModelChange)="populateOrgUnit($event)" [(ngModel)]="scanningData.internOrgId1" name="internOrgId1" [attr.disabled]="isFormDisabled">
                              <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                              <option value="{{web.orgId}}" *ngFor="let web of topOrgUnitData">{{web.orgName}}</option>
                            </select>
                        </div>
                        <div class="col-6">
                          <label for="" class="col-form-label">{{ 'Org Unit' | translate }}</label>
                            <select class="form-select"  [(ngModel)]="scanningData.internOrgId2" (ngModelChange)="populateOrgUsers($event)" name="internOrgId2" [attr.disabled]="isFormDisabled">
                              <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                              <option  value="{{web.orgId}}" *ngFor="let web of orgNameData">{{web.orgName}}</option> 
                            </select>
                        </div>
                        <div class="col-12">
                        <label for="" *ngIf="scanningData.docRoute === 'Incoming'" class="col-form-label">{{ 'Receiving From' | translate }} </label>
                        <label for="" *ngIf="scanningData.docRoute === 'Outgoing'" class="col-form-label">{{ 'Receiver' | translate }} </label>
                        <select class="form-select" [(ngModel)]="scanningData.internUserId" name="internUserId" [attr.disabled]="isFormDisabled">
                          <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                          <option value="{{web.indexvalue}}" *ngFor="let web of userOrgData">{{web.displayName}}</option> 
                        </select>
                    </div>
                    <div class="col-12">
                      <label for="" *ngIf="scanningData.docRoute === 'Incoming'" class="col-form-label">{{ 'Receiver' | translate }} </label> 
                      <label for="" *ngIf="scanningData.docRoute === 'Outgoing'" class="col-form-label">{{ 'Sender' | translate }} </label>
                      <select class="form-select" [(ngModel)]="scanningData.recOrSen" name="recOrSen" [attr.disabled]="isFormDisabled">
                        <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                        <option value="{{web.indexvalue}}" *ngFor="let web of userData">{{web.displayName}}</option> 
                      </select>
                  </div>
                    </div>
                    <div class="row mb-2 " *ngIf="scanningData.docSubRoute === 'External'">
                      <div class="col-12 mb-2">
                        <label for="" class="col-form-label">{{ 'External Location' | translate }}</label>
                          <select class="form-select"  [(ngModel)]="scanningData.externalLocId"  name="externalLocId">
                            <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                            <option value="{{web.locationId}}" *ngFor="let web of externalLocData">{{web.locationName}}</option> 
                          </select>
                      </div>
                      <div class="col-12">
                        <label for="extUserName" class="col-form-label">{{ 'User Name' | translate }}</label>
                        <input type="text" id="extUserName" class="form-control" [(ngModel)]="scanningData.extUserName" name="extUserName" [attr.disabled]="isFormDisabled">
                      </div>
                      <div class="col-6">
                        <label for="" class="col-form-label">{{ 'Top Org Unit' | translate }}</label>
                          <select id="orgUnitSelect" class="form-select" (ngModelChange)="populateOrgUnit($event)" [(ngModel)]="scanningData.internOrgId1" name="internOrgId1" [attr.disabled]="isFormDisabled">
                            <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                            <option value="{{web.orgId}}" *ngFor="let web of topOrgUnitData">{{web.orgName}}</option>
                          </select>
                      </div>
                      <div class="col-6">
                        <label for="" class="col-form-label">{{ 'Org Unit' | translate }}</label>
                          <select class="form-select"  [(ngModel)]="scanningData.internOrgId2" (ngModelChange)="populateOrgUsers($event)" name="internOrgId2" [attr.disabled]="isFormDisabled">
                            <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                            <option  value="{{web.orgId}}" *ngFor="let web of orgNameData">{{web.orgName}}</option> 
                          </select>
                      </div>
                      <div class="col-12">
                        <label for="" class="col-form-label">{{ 'Sender' | translate }} </label>
                        <select class="form-select" [(ngModel)]="scanningData.recOrSen" name="recOrSen" [attr.disabled]="isFormDisabled">
                          <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                          <option value="{{web.indexvalue}}" *ngFor="let web of userData">{{web.displayName}}</option> 
                        </select>
                    </div>
                  </div>
                  <div class="row mb-2 ">
                    <div class="col-12">
                      <label for="subject" class="col-form-label">{{ 'Subject' | translate }}</label>
                      <input type="text" id="subject" class="form-control" [(ngModel)]="scanningData.subject" name="subject" [attr.disabled]="isFormDisabled">
                    </div>
                  </div>

                  <div class="row mb-2 ">
                    <div class="col-6">
                      <label for="" class="col-form-label">{{ 'Priority' | translate }} </label>
                        <select class="form-select" [(ngModel)]="scanningData.priorityId" name="priorityId" [attr.disabled]="isFormDisabled">
                          <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                          <option  value="{{web.priorityId}}" *ngFor="let web of priorityData">{{web.priorityName}}</option> 
                        </select>
                    </div>
                    <div class="col-6">
                      <label for="" class="col-form-label">{{ 'Classification' | translate }} </label>
                        <select class="form-select" [(ngModel)]="scanningData.classId" name="classId" [attr.disabled]="isFormDisabled">
                          <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                          <option  value="{{web.classId}}" *ngFor="let web of classData">{{web.className}}</option> 
                        </select>
                    </div>
                  </div>

                  <div class="row mb-2 ">
                    <div class="col-6">
                      <label for="addedOn" class="col-form-label">{{ 'Received Date' | translate }}</label>
                      <input type="text" id="addedOn" class="form-control" [(ngModel)]="scanningData.addedOn" name="addedOn" [attr.disabled]="isFormDisabled">
                    </div>
                    <div class="col-6">
                      <label for="drefno" class="col-form-label">{{ 'Doc Ref No' | translate }} </label>
                      <input type="text" id="drefno" class="form-control" [(ngModel)]="scanningData.refNo" name="refNo" [attr.disabled]="isFormDisabled">
                    </div>
                  </div>

                  <div class="row mb-2 ">
                    <div class="col-12">
                      <label for="" class="col-form-label">{{ 'Archiever' | translate }} </label>
                        <select class="form-select" [(ngModel)]="scanningData.recOrSen" name="recOrSen" [attr.disabled]="isFormDisabled">
                          <option value="" disabled [defaultSelected]="true">Choose Your Option</option>
                          <option value="{{web.indexvalue}}" *ngFor="let web of userData">{{web.displayName}}</option> 
                        </select>
                    </div>
                  </div>
                  <div class="row mb-2 ">
                    <div class="col-12">
                      <label for="refno" class="col-form-label">{{ 'Remarks / Comments' | translate }}  </label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" [disabled]="isFormDisabled"></textarea>
                    </div>
                  </div>
                  <div class="row mb-2 align-items-center text-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-submit" [disabled]="isFormDisabled">Submit</button>
                    </div>
                  </div>
                  </div>
                </div> 
              </form>
            
              </div>
            </div>
          </ng-scrollbar>
        </div>
      </ng-template>
    </li>
  
    <!-- <li [ngbNavItem]="3"> -->
      <!-- <button ngbNavLink class="btn btn-tab d-flex align-items-center">
        <svg class="icon"><use xlink:href="#edit"></use> </svg> <span class="link-title mx-2">{{ 'Comments' | translate }}</span>
      </button> -->
      <!-- <ng-template ngbNavContent>
        <div class="tab-cnt d-flex justify-content-center align-items-center" >
          <ng-scrollbar class="w-100  h-100">
          
            <div class="row">
              <div class="col-12 d-flex justify-content-center align-items-center ">
               <form class="form-section col-7 ">
                
                <div class="row align-items-center data-catlog mt-0">
               
                    <div class="col-12">
                      <label for="refno" class="col-form-label">{{ 'Remarks / Comments' | translate }}  </label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                   </div>

                   <div class="row mt-3 align-items-center text-center">
                    <div class="">
                      <button type="submit" class="btn btn-submit">Submit</button>
                    </div>
                  </div>

                 </div>

               
                </form>
            </div>
            </div>
           
          </ng-scrollbar>
   
 
        </div>
      </ng-template> -->
  </ul>
  
  
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  
  </section>
  