<div class="filter-section mb-3 ">
  <div class="row m-0 d-flex justify-content-center">
          <div class="col-md-3 ">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Total">
                  <label for="floatingInput" class="float-text">Privilege Fields</label>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Total">
                  <label for="floatingInput" class="float-text">Privilege Fields</label>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Total">
                  <label for="floatingInput" class="float-text">Privilege Fields</label>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" placeholder="Total">
                  <label for="floatingInput" class="float-text">Privilege Fields</label>
              </div>
          </div>
        
      </div>
      <div class="row m-0 d-flex justify-content-center">
          <div class="col-md-2">
              <button type="submit" class="btn btn-submit w-100">Submit</button>
          </div>
      </div>
  </div>

  <app-table></app-table>
