.filter-section{
  border:1px solid #E8E8F2;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.25rem;

  .btn-submit{
      background-color: #5ABA8A;
      color: #ffffff;
      padding: 0.5rem;
  }
}