<!-- <div class="app" [dir]="directionService.isRtl ? 'rtl' : 'ltr'">-->


<div class="app" [dir]="directionService.isRtl ? 'rtl' : 'ltr'">
  <app-header></app-header>
  <main >
    <div class="main" >
        <div class="navigation">
          <app-side-navbar></app-side-navbar>
        </div>
        <div class="content-wrapper">
          <ng-scrollbar>
            <section class="main-content">
               <app-breadcrumb></app-breadcrumb>
              <div class="content-inner">

                <!-- {{'Name' | translate}} <br>
                {{'NameError' | translate}} <br>
                {{'Email' | translate}} <br>
                {{'PhoneNo' | translate}} <br>
                {{'Password' | translate}} <br>
                {{'Bio' | translate}} <br>
                {{'TermsConditions' | translate}} <br> -->

                 <router-outlet></router-outlet> 
              </div>
            </section>
           </ng-scrollbar>
        </div>
      </div>

  </main>
</div>


