

<section class="ejob-section" >
	<ng-scrollbar class="w-100 h-100">

   
          <form class="row g-3 datasearch justify-content-center" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="col-md-3 ">
              <label class="mb-1">{{ 'Privilege Name' | translate }}</label>
              <input
              type="text"
              formControlName="privilegeName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['privilegeName'].errors }"
              />
              <div *ngIf="submitted && f['privilegeName'].errors" class="invalid-feedback">
              <div *ngIf="f['privilegeName'].errors['required']">
                Privilege Name is required
              </div>
              </div>
          </div>
      
          <div class="col-md-3">
              <label class="mb-1">{{ 'Privilege Name in Arabic' | translate }}</label>
              <input
              type="text"
              formControlName="privilegeNameAr"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['privilegeNameAr'].errors }"
              />
              <div *ngIf="submitted && f['privilegeNameAr'].errors" class="invalid-feedback">
              <div *ngIf="f['privilegeNameAr'].errors['required']">
                Privilege Name in Arabic is required
              </div>
              </div>
          </div>
      

          <div class="row btn-row justify-content-center">
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn-submit mx-2">{{ 'Submit' | translate }}</button>
              <button type="button" class="btn-danger mx-2" (click)="onReset()">{{ 'Reset' | translate }}</button>
            </div>
          </div>                      
          </form>
    
  
          <hr class="gradient-line">

    <div class="row m-0 p-0 data">
      <div class="table-result p-0 ">
          <ng-scrollbar class="table-height" style="height: 59vh;">
          <ngx-table [configuration]="configuration" [data]="data" [columns]="columns" > 
              <ng-template let-row let-index="index">
                <td>
                  <span class="">{{ row.privilegeId }}</span>
                </td>
                <td>
                  <div class="">{{ row.privilegeName }}</div>
                </td>
                <td>
                  <div class="">{{ row.privilegeNameAr }}</div>
                </td>
                <td>
                  <div  *ngIf="row.status === 1" class="">Active</div>
                  <div  *ngIf="row.status === 0" class="">In Active</div>
                </td>
                <td>
                  <div class="">{{ row.createdByUserName }}</div>
                </td>
                <td>
                  <div class="">{{ row.createdDate }}</div>
                </td>
                <td>
                  <button class="btn table-btn btn-edit" (click)="openModal(content, row)">Edit</button>
                </td>  
              </ng-template>
            </ngx-table>
          </ng-scrollbar>           
      </div>
    </div>    
    </ng-scrollbar>
</section>
  

  <!-- <app-table></app-table> -->
  <ng-template #content let-modal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title" id="modal-basic-title"> update</h4>      
    </div>
    <div class="modal-body ">
      <form [formGroup]="editData" (ngSubmit)="onEdit()">
        <div class="p-2 row">
            <label class="p-0 mb-1">Privilege Name</label>
            <input 
            type="text"
            formControlName="privilegeName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['privilegeName'].errors }"/>
            <div *ngIf="submitted && f['privilegeName'].errors" class="invalid-feedback">
            <div *ngIf="f['privilegeName'].errors['required']">
              Privilege Name is required
            </div>
            </div>
        </div>
    
        <div class="p-2 row">
            <label class="p-0 mb-1">Privilege Name in Arabic</label>
            <input
            type="text"
            formControlName="privilegeNameAr"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['privilegeNameAr'].errors }"/>
            <div *ngIf="submitted && f['privilegeNameAr'].errors" class="invalid-feedback">
            <div *ngIf="f['privilegeNameAr'].errors['required']">
              Privilege Name in Arabic is required
            </div>
            </div>
        </div>
        <div class="p-2 row">
          <label class="p-0 mb-1">Status</label>
          <select class="form-select" formControlName="status"
          [ngClass]="{ 'is-invalid': submitted && f['status'].errors }">
            <option value="1">Active</option> 
            <option  value="0">In Active</option> 
          </select>
      </div>
        <div class="p-2 row">
          <input 
          type="hidden"
          formControlName="privilegeId"
          class="form-control">
          </div>
          <pre>{{ selected }}</pre>    
      </form>
    </div>
    <div class="modal-footer mb-2 justify-content-center">
      <button type="button" class="btn btn-update mx-2" (click)="onUpdate()">Update</button>
      <button type="button" class="btn btn-danger mx-2" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </ng-template>