

<section class="ejob-section" >
	<ng-scrollbar class="w-100 h-100">

   
          <form class="row g-3 datasearch justify-content-center" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="col-md-3 ">
              <label class="mb-1">Classificaton Name</label>
              <input
              type="text"
              formControlName="classificatonName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['classificatonName'].errors }"
              />
              <div *ngIf="submitted && f['classificatonName'].errors" class="invalid-feedback">
              <div *ngIf="f['classificatonName'].errors['required']">
                Classificaton Name is required
              </div>
              </div>
          </div>
      
          <div class="col-md-3">
              <label class="mb-1">Classificaton Name in Arabic</label>
              <input
              type="text"
              formControlName="classificatonAribic"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['classificatonAribic'].errors }"
              />
              <div *ngIf="submitted && f['classificatonAribic'].errors" class="invalid-feedback">
              <div *ngIf="f['classificatonAribic'].errors['required']">
                Classificaton Name in Arabic is required
              </div>
              </div>
          </div>
      

          <div class="row btn-row justify-content-center">
            <div class="col-md-5 d-flex justify-content-around">
              <button type="submit" class="btn btn-submit">Submit</button>
              <button type="button" class="btn btn-update">Update</button>
              <button type="button" class="btn btn-danger" (click)="onReset()">Reset</button>
            </div>
          </div>
       
           
  
          </form>
    
  
   <hr class="gradient-line">

    <div class="row m-0 p-0 data">
      <div class="table-result p-0 ">
          <ng-scrollbar class="table-height" style="height: 59vh;">
          <ngx-table [configuration]="configuration" [data]="data" [columns]="columns" > 
              <ng-template let-row let-index="index">

                <td>
                  <span class="">{{ row.sno }}</span>
                </td>
                <td>
                  <div class="">{{ row.ClassificatonName }}</div>
                </td>
                <td>
                  <div class="">{{ row.ClassificatonNameAr }}</div>
                </td>
                <td>
                  <div class="">{{ row.createdBy }}</div>
                </td>
                <td>
                  <div class="">{{ row.createdBy }}</div>
                </td>
                
              </ng-template>
            </ngx-table>
          </ng-scrollbar>
       
    
      </div>
    </div>
    


    </ng-scrollbar>
</section>
  

  <!-- <app-table></app-table> -->
