

<section class="ejob-section" >
	<ng-scrollbar class="w-100 h-100">
          <form class="row g-3 datasearch justify-content-center" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="col-md-3 ">
              <label class="mb-1">Classificaton Name</label>
              <input
              type="text"
              formControlName="className"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['className'].errors }"
              />
              <div *ngIf="submitted && f['className'].errors" class="invalid-feedback">
              <div *ngIf="f['className'].errors['required']">
                Classificaton Name is required
              </div>
              </div>
          </div>
      
          <div class="col-md-3">
              <label class="mb-1">Classificaton Name in Arabic</label>
              <input
              type="text"
              formControlName="classNameAr"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['classNameAr'].errors }"
              />
              <div *ngIf="submitted && f['classNameAr'].errors" class="invalid-feedback">
              <div *ngIf="f['classNameAr'].errors['required']">
                Classificaton Name in Arabic is required
              </div>
              </div>
          </div>
      

          <div class="row btn-row justify-content-center">
            <div class="col-md-5 d-flex justify-content-around">
              <button type="submit" class="btn btn-submit">Submit</button>      
              <button type="button" class="btn btn-danger" (click)="onReset()">Reset</button>
            </div>
          </div>
       
           
  
          </form>
    
  
   <hr class="gradient-line">
    <div class="row m-0 p-0 data">
      <div class="table-result p-0 ">
          <ng-scrollbar class="table-height" style="height: 59vh;">
          <ngx-table [configuration]="configuration" [data]="data" [columns]="columns" > 
              <ng-template let-row let-index="index">
                <td>
                  <span class="">{{ row.classId }}</span>
                </td>
                <td>
                  <div class="">{{ row.className }}</div>
                </td>
                <td>
                  <div class="">{{ row.classNameAr }}</div>
                </td>
                <td>
                  <div  *ngIf="row.status === 1" class="">Active</div>
                  <div  *ngIf="row.status === 0" class="">In Active</div>
                </td>
                <td>
                  <div class="">{{ row.createdByUserName }}</div>
                </td>
                <td>
                  <div class="">{{ row.createdDate }}</div>
                </td>
                <td>
                  <button class="btn table-btn btn-edit" (click)="openModal(content, row)">Edit</button>
                </td>                
              </ng-template>
            </ngx-table>
          </ng-scrollbar>           
      </div>
    </div>
    </ng-scrollbar>
</section>
  

  <!-- <app-table></app-table> -->
  <ng-template #content let-modal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title" id="modal-basic-title">Update</h4>
    </div>
    <div class="modal-body ">
      <form [formGroup]="editData" (ngSubmit)="onEdit()">
        <div class="p-2 row">
            <label class="p-0 mb-1">Classificaton Name</label>
            <input 
            type="text"
            formControlName="className"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['className'].errors }"/>
            <div *ngIf="submitted && f['className'].errors" class="invalid-feedback">
            <div *ngIf="f['className'].errors['required']">
              Classificaton Name is required
            </div>
            </div>
        </div>
    
        <div class="p-2 row">
            <label class="p-0 mb-1">Classificaton Name in Arabic</label>
            <input
            type="text"
            formControlName="classNameAr"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['classNameAr'].errors }"/>
            <div *ngIf="submitted && f['classNameAr'].errors" class="invalid-feedback">
            <div *ngIf="f['classNameAr'].errors['required']">
              Classificaton Name in Arabic is required
            </div>
            </div>
        </div>
        <div class="p-2 row">
          <label class="p-0 mb-1">Status</label>
          <input
          type="text"
          formControlName="status"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['status'].errors }"/>
      </div>
        <div class="p-2 row">
          <input 
          type="hidden"
          formControlName="classId"
          class="form-control">
          </div>
          <pre>{{ selected }}</pre>    
      </form>
    </div>
    <div class="modal-footer mb-2 justify-content-center">
      <button type="button" class="btn btn-update mx-2" (click)="onUpdate()">Update</button>
      <button type="button" class="btn btn-danger mx-2" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </ng-template>

