

        <app-stats></app-stats>

    <div class="row m-0 p-0">
        <nav class="nav quick-links">
            <ul class="d-flex flex-row align-items-center">
                <li class="nav-item d-flex align-items-center ">
                    <a class="nav-link btn-link" routerLink="/scanjob">
                        <svg class="icon me-2"><use xlink:href="#folderSearch"/></svg> {{ 'Folder Search' | translate }} 
                    </a>
                  </li>
        
                  <li class="nav-item d-flex align-items-center">
                    <a class="nav-link " href="javascript:void(0)">Link</a>
                  </li>

                  <li class="nav-item d-flex align-items-center search-g">
                    <a href="javascript:void(0)" class="nav-link ">
                        <!-- <svg class="icon d-flex"><use xlink:href="#search"/></svg> -->
                        <input type="text" class="form-control " placeholder="Search">
                    </a>
                </li>
               
            </ul>


            <!-- <pre>From date model: {{ fromDate | json }}</pre>
            <pre>To date model: {{ toDate | json }}</pre> -->
            <div class="ms-auto">


            <ul class="d-flex flex-row align-items-center ">
                
                <li class="nav-item d-flex align-items-center date-range mx-1">

                    <!-- <div class="dp-hidden ">
                        <div class="input-group rounded-0">
                            <input
                                name="datepicker"
                                class="form-control"
                                ngbDatepicker
                                #datepicker="ngbDatepicker"
                                [autoClose]="'outside'"
                                (dateSelect)="onDateSelection($event)"
                                [displayMonths]="2"
                                [dayTemplate]="t"
                                outsideDays="hidden"
                                [startDate]="fromDate!"
                                tabindex="-1"
                                [placement]="'bottom-right'"
                            />
                            <ng-template #t let-date let-focused="focused">
                                <span
                                    class="custom-day"
                                    [class.focused]="focused"
                                    [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)"
                                    (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null"
                                >
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div> -->

                    <!-- <div class="input-group " >
                        <input
                            #dpFromDate
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dpFromDate"
                            [value]="formatter.format(fromDate)"
                            (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                            data-popper-placement="top"
                        />

                        <input
                            #dpToDate
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dpToDate"
                            [value]="formatter.format(toDate)"
                            (input)="toDate = validateInput(toDate, dpToDate.value)"
                        />
                    
                        <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button"> <svg class="icon" ><use xlink:href="#calendar" /></svg></button>
                    </div> -->

                    <div class="input-group">
                        <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="d2"
                            #c1="ngModel"
                            [(ngModel)]="model1"
                            ngbDatepicker
                            #d2="ngbDatepicker"
                            (click)="d2.toggle()"
                            ngbTooltip="From Date"
                        />
                        <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="d3"
                            #c2="ngModel"
                            [(ngModel)]="model2"
                            ngbDatepicker
                            #d3="ngbDatepicker"
                            (click)="d3.toggle()"
                            ngbTooltip="To Date"
                        />
                        <button class="btn btn-outline-secondary" type="button" style="cursor: default;"> <svg class="icon" ><use xlink:href="#calendar" /></svg></button>
                    </div>


            </li>

                <li class="nav-item d-flex align-items-center mx-auto" ngbDropdown>
                    <a href="javascript:void(0)" ngbDropdownToggle id="filter" aria-haspopup="true"  class="nav-link btn-link">
                        <svg class="icon me-2"><use xlink:href="#filter"/></svg> Filter</a>

                        <div class="dropdown-menu account-details dropdown-menu-end mt-2" ngbDropdownMenu aria-labelledby="filter" >
                            <a href="javascript:void(0)" class="nav-link">
                                Admin</a>
                                
                            <a href="javascript:void(0)" class="nav-link">
                                Manager</a>
                            
                            <a href="javascript:void(0)" class="nav-link">
                                Supervisor</a>      

                                <a href="javascript:void(0)" class="nav-link">
                                    Executive</a>      
                           
                        </div>
                  </li>
            </ul>
        </div>
        </nav>
    </div>

    <!-- <div class="row m-0 p-0 menu">
        <div class="scroll-nav">
            <ul class="d-flex flex-row flex-nowrap align-items-center scrollarea-x scroll-container">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#role"/></svg>Role Master
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#section"/></svg>Section Master
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#user"/></svg>User Master
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#priority"/></svg>Priority Master
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#action"/></svg>Action Master
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#folder"/></svg>Folder Master
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#cabinet"/></svg>Cabinet Master
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#folderper"/></svg>Folder Permission
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#mulfolderper"/></svg>Multi Folder Permission
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#folderwiseper"/></svg>Folder Wise Permission
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#userper"/></svg>User Wise Permission
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#doctype"/></svg>Doc Type Master
                    </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <a href="#" class="nav-link">
                        <svg class="icon"><use xlink:href="#template"/></svg>Templates
                    </a>
                </li>
            </ul>

        </div>
    </div> -->


    <div class="row m-0 p-0 data">
        <div class="main-table p-0 ">
                <ul class="table-nav d-flex flex-row flex-nowrap align-items-center ">
                    
                 
                    <li class="nav-item" ngbDropdown>
                        <a href="javascript:void(0)" ngbDropdownToggle id="dropdownBasic1" aria-haspopup="true"  class="nav-link">
                            <svg class="icon"><use xlink:href="#move"/></svg> Move
                        </a>

                        <div class="dropdown-menu account-details dropdown-menu-end mt-2" ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                            <a href="javascript:void(0)" class="nav-link">
                                 Movie to Other 1</a>
                                
                            <a href="javascript:void(0)" class="nav-link">
                                     Movie to Other 1</a>
                            
                            <a href="javascript:void(0)" class="nav-link">
                                        Movie to Other 1</a>      
                           
                        </div>
                       
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <svg class="icon"><use xlink:href="#inbox"/></svg>Inbox
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <svg class="icon"><use xlink:href="#outbox"/></svg>Outbox
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <svg class="icon"><use xlink:href="#send"/></svg>Sent
                        </a>
                    </li>
                    <!-- <li class="nav-item nav-fw ">
                        <span href="#" class="nav-link ">
                            <svg class="icon"><use xlink:href="#search"/></svg>

                            <div class="row w-100 ">
                                <div class="col-md-12 p-0">
                                    <input type="text" class="form-control border-0 " placeholder="Search Subject, Date, Refference No, User ">
                                </div>
                            </div>
                            
                        </span>
                    </li> -->
                </ul>
      

     
            <ng-scrollbar class="table-height" style="height: 59vh;">

                <!-- <ngx-table #table
                class="bootstrap"
                [data]="data"
                [columns]="columns"
                [configuration]="configuration">
                </ngx-table> -->

            <ngx-table [configuration]="configuration" [data]="data" [columns]="columns" (event)="eventEmitted($event)"> 
                <ng-template let-row let-index="index">
                    
                  <td>
                    <div class="form-group">
                      <label class="form-checkbox">
                        <input type="checkbox" (change)="onChange(row)"/>
                        <i class="form-icon"></i>
                      </label>
                    </div>
                  </td>
                  <td>
                    <svg class="icon star"><use xlink:href="#star"/></svg>
                  </td>
                  <td>
                    <svg class="icon important"><use xlink:href="#important"/></svg>
                  </td>
                  <td>
                    <span class="">{{ row.user }}</span>
                  </td>
                  <td>
                    <div class="">{{ row.subject }}</div>
                  </td>
                  <td>
                    <div class="">{{ row.project }}</div>
                  </td>
                  <td>
                    <div class="">{{ row.timestamp }}</div>
                  </td>
                  <td>
                    <div class="">{{ row.reference }}</div>
                  </td>
                  <!-- <td>
                    <button class="btn table-btn btn-edit" (click)="openModal(modalContent)">Details</button>
                  </td>  -->
              
                </ng-template>
              </ngx-table>
            </ng-scrollbar>
            <!-- <ngx-table [data]="data" [columns]="columns" [configuration]="configuration">
            </ngx-table>
            -->

            <!-- <table class="table table-borderless">
                <thead class="table-head">
                  <tr>
                    <th class="th-w">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 
                    </th>
                    <th>User <svg class="icon"><use xlink:href="#caret"/></svg></th>
                    <th>Subject <svg class="icon"><use xlink:href="#caret"/></svg></th>
                    <th>Submited Date & Time <svg class="icon"><use xlink:href="#caret"/></svg></th>
                    <th>Doc Refference No <svg class="icon"><use xlink:href="#caret"/></svg></th>
                    <th>Action <svg class="icon"><use xlink:href="#caret"/></svg></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="th-w">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"> 
                    </td>
                    <td>Abdul Baatin</td>
                    <td>18/07/2022 11:30</td>
                    <td>Lorem ipsum dolor sit</td>
                    <td>2017/60/Ullamco laboris</td>
                    <td class="table-edits">
                        <svg class="icon edit"><use xlink:href="#edit"/></svg>
                        
                    </td>
                  </tr>
                
            
              </table>    -->
           
       
    

        </div>
    </div>


  <!-- Modal -->
  <ng-template #modalContent let-modal>
    <div class="modal-header justify-content-center">
      <h4 class="modal-title" id="modal-basic-title">Inbox</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body ">

        <div class="row align-items-stretch">
            <div class="col-6 p-0">
 

                <pdf-viewer
                [src]="pdfSrc"
                [render-text]="true"
                [original-size]="false"
                [fit-to-page]="false"
                style="width: 100%; height: 100vh;margin-bottom: 0;"
                ></pdf-viewer>

            </div>
          
            <div class="vr p-0"> </div>
           
            <div class="col-5 modal-tab" >

                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs d-flex justify-content-start ">
                    <li [ngbNavItem]="1">
                      <button ngbNavLink class="btn btn-tab d-flex align-items-center">
                        <svg class="icon"><use xlink:href="#eScan"></use> </svg> <span class="link-title mx-2">{{ 'Form 1' | translate }}</span>
                      </button>
                
                      <ng-template ngbNavContent>
                          <div class="tab-cnt" >
                            <form class="form-section col-12">

                                <div class="input-block mt-2">
            
                                    <div class="row g-3 mb-3 align-items-center">
                                        <div class="col-2">
                                            <label for="subject" class="col-form-label"> Subject </label>
                                        </div>
                                        <div class="col-10">
                                            <input type="text" id="subject" class="form-control">
                                        </div>
                                    
                                    </div>
            
            
                                <div class="row g-3 mb-3 align-items-center">
                                    <div class="col-2">
                                        <label for="subject" class="col-form-label"> Select the Users </label>
                                    </div>
                                    <div class="col-10">
                                    <div class="row list-transfer-container">
                                        
                                    <div class="col-5">
                                    <div class="list-box" >
                                        <ul>
                                            <li *ngFor="let item of leftList; let i = index" (click)="selectItem(item, 'left')" [class.selected]="selectedItems.left.includes(item)">
                                                {{ item }}
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn-edit btn-fixed" (click)="moveAll('left')">Move All &gt;&gt;</button>
                                    </div>
            
                                    <!-- Action buttons -->
                                    <div class="col-2" >
                                        <div class="actions" >
                                            <button class="btn-update" (click)="moveSelected('left')">&gt;</button>
                                            <button class="btn-update" (click)="moveSelected('right')">&lt;</button>
                                        </div>
                                    </div>
            
                                    <div class="col-5">
                                    <div class="list-box">
                                        <ul>
                                        <li *ngFor="let item of rightList; let i = index" (click)="selectItem(item, 'right')" [class.selected]="selectedItems.right.includes(item)">
                                            {{ item }}
                                        </li>
                                        </ul>
                                    </div>
                                    <button class="btn-edit btn-fixed" (click)="moveAll('right')">&lt;&lt; Move All</button>
                                    </div>
            
                                    </div>
                                    </div>
                                    
                                </div>
            
            
                                    <div class="row g-3 mb-3 align-items-center">
                                            <div class="col-2">
                                                 Reply Date
                                            </div>
                                            <div class="col-4">
                                                    <input type="text" id="subject" class="form-control">
                                            </div>
                                            
                                            <div class="col-2">
                                                Folder
                                         </div>
                                         <div class="col-4">
                                                <select class="form-select">
                                                    <option selected> Select The Folder</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                         </div>
                                    </div>
            
                                    <div class="row g-3 mb-3 align-items-center">
                                        <div class="col-2">
                                            Classification
                                        </div>
                                        <div class="col-4">
                                            <select class="form-select">
                                                <option selected>Select The Folder</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        
                                        <div class="col-2">
                                            Priority 
                                     </div>
                                     <div class="col-4">
                                        <select class="form-select">
                                            <option selected>Select The Folder</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
            
            
                                <div class="row g-3 mb-3 align-items-center">
                                    <div class="d-flex flex-row">
                                        <div class="mx-2 form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Check</label>
                                        </div>
                                        <div class="mx-2">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                        <div class="mx-2 col-5">
                                            <input class="form-control" type="file" id="formFile">
                                        </div>
                                    </div>
                                </div>
                                
                                    
                                </div>
                        </form>  
                          </div>
                      </ng-template>
                    </li>
                  
                    <li [ngbNavItem]="2">
                      <button ngbNavLink class="btn btn-tab d-flex align-items-center">
                        <svg class="icon"><use xlink:href="#reports"></use> </svg> <span class="link-title mx-2">
                          {{ 'Form 2' | translate }}</span>
                      </button>
                  
                      <ng-template ngbNavContent>
                           <div class="tab-cnt" >
                            Two
                          </div>
                      </ng-template>
                    </li>

                    <li [ngbNavItem]="3">
                        <button ngbNavLink class="btn btn-tab d-flex align-items-center">
                          <svg class="icon"><use xlink:href="#reports"></use> </svg> <span class="link-title mx-2">
                            {{ 'Form 3' | translate }}</span>
                        </button>
                    
                        <ng-template ngbNavContent>
                             <div class="tab-cnt" >
                              Three
                            </div>
                        </ng-template>
                      </li>

                      <li [ngbNavItem]="4">
                        <button ngbNavLink class="btn btn-tab d-flex align-items-center">
                          <svg class="icon"><use xlink:href="#reports"></use> </svg> <span class="link-title mx-2">
                            {{ 'Form 4' | translate }}</span>
                        </button>
                    
                        <ng-template ngbNavContent>
                             <div class="tab-cnt" >
                              Four
                            </div>
                        </ng-template>
                      </li>
                  
                   
                  </ul>
                  
                  
                  
                  <div [ngbNavOutlet]="nav" class="mt-2"></div>

                
            </div>
        </div>
         

    </div>
    <div class="modal-footer mb-2">
        <span> {{ clicked }}</span>
        <button type="button" class="btn btn-update mx-2" (click)="onUpdate()">Update</button>
        <button type="button" class="btn btn-danger mx-2" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
  </ng-template>